<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hotspot_Sİstemi_V0._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hotspot_Sİstemi_V0._1.Properties.Settings.HotspotConnectionString"
            connectionString="Data Source=DESKTOP-NR9QG4L\SQLEXPRESS;Initial Catalog=Hotspot;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Hotspot_Sİstemi_V0._1.Properties.Settings>
            <setting name="kulAdi" serializeAs="String">
                <value />
            </setting>
            <setting name="sifre" serializeAs="String">
                <value />
            </setting>
        </Hotspot_Sİstemi_V0._1.Properties.Settings>
    </userSettings>
</configuration>